global:
  scrape_interval:     15s
  evaluation_interval: 15s


rule_files:
  # - "first.rules"
  #   # - "second.rules"
  #
scrape_configs:
 - job_name: prometheus
   static_configs:
    - targets: ['prometheus:9090']
 - job_name: json_exporter
   honor_labels: true
   static_configs:
    - targets: ['json_exporter:5000']